*.cfg
*.ddp
*.dof
*.dsk
*.local
OutC*
/smDS/Prj/BcbXE/Debug
/DataSetOther/SmDS_Gen/OutC6
*.res
*.suo
*.user
*.bpi
*.ods
*.xls
*.zip
/smDS/Prj/qtc/Debug
/smDS/Prj/qtc/Release
/smDS/Prj/qtc/user_config.pri
.vs
*.opendb
*.db
Debug_*
Release_*
insert.sql
*.ico
*.ncb
/odb
vs2017.props
Dbg_100.props
Rel_100.props
