<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestDS.Properties.Settings.Dirdata82ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=G:\Data\Dirdata82.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>